@import "tailwindcss";

@theme {
  --font-display: "star", "san-serif";
  --font-farsi: "vazir";
}
@font-face {
  font-family: star;
  src: url("/font/syne.ttf");
}
@font-face {
  font-family: vazir;
  src: url("/font/vazir.ttf");
}
* {
  box-sizing: border-box;
}
body {
  height: auto;
  background-color: #f9f9f9;
}
